<footer class="site-footer dark-bg bottom hidden-print">
  <div class="container inner">
    <div class="row footer-grid">

      <div class="col-sm-3 col-md-2 text-center">
        <a class="footer-brand" href="/">
          <img src="/assets/img/logo.png" class="logo" alt="Black Magic Hockey Club">
        </a>
      </div>

      <div class="col-sm-9 col-md-10">
        <div class="row">

          <!-- About -->
          <div class="col-sm-6 col-md-4 footer-block">
            <h4 class="mb0">About Us</h4>
            <p>
              Black Magic Hockey Club (BMHC) is a volunteer-run non-profit growing
              hockey club in the Bakersfield Area.
            </p>
          </div>

          <!-- Contact -->
          <div class="col-sm-6 col-md-4 footer-block">
            <h4 class="mb0">Contact</h4>
            <p>Need a specific person? Visit the Board of Directors page under About.</p>
            <p>Add Address Here</p>
          </div>

          <!-- Follow & Support -->
          <div class="col-sm-12 col-md-4 footer-block">
            <h4 class="mb0">Follow &amp; Support</h4>
            <ul class="footer-social">
              <li><a href="https://www.facebook.com/BlackMagicHockey/" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/blackmagichockey" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#" aria-label="X / Twitter"><i class="fa-brands fa-x-twitter"></i></a></li>
              <li><a href="#" aria-label="Email"><i class="fa-regular fa-envelope"></i></a></li>
            </ul>
            <a class="btn btn-outline light btn-xs" href="#">Donate</a>
            <div class="tagline">PRACTICE • GRIT • HEART</div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left">
        &copy; <script>document.write(new Date().getFullYear());</script>
        Black Magic Hockey Club. All Rights Reserved.
      </p>
      <ul class="footer-menu pull-right">
        <li><a href="#">Refund Policies</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
      </ul>
    </div>
  </div>
</footer>