<!-- /assets/partials/leftnav.html -->
<nav class="side-nav">
  <ul>
    <li data-key="mission"><a href="/About/about.html">Mission, Vision, and Values</a></li>
    <li data-key="arena"><a href="/About/arena.html">Arena Information</a></li>
    <li data-key="board"><a href="/About/board-of-directors.html">Board of Directors</a></li> 
    <li data-key="agendas"><a href="/About/meeting-agenda.html">Meeting Agendas</a></li>
    <li data-key="minutes"><a href="/About/meeting-minutes.html">Meeting Minutes</a></li>
    <!--<li data-key="orgchart"><a href="/About/organizational-charts.html">Organizational Charts</a></li>
    <li data-key="sponsorship"><a href="/About/sponsorship.html">Sponsorship</a></li>
    <li data-key="trophy"><a href="/About/trophy-case.html">Trophy Case</a></li> 
    <li data-key="jobs"><a href="/About/employment-volunteer-openings.html">Employment &amp; Volunteer Openings</a></li>
    <li data-key="bylaws"><a href="/About/board-meetings-bylaws.html">Board Meetings &amp; Bylaws</a></li>
    <li data-key="staff"><a href="/About/directors-staff-coordinators.html">Directors, Staff &amp; Coordinators</a></li>
    <li data-key="donate"><a href="/About/donate.html">Donate</a></li>
    -->
  </ul>
</nav>
